<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cash-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,62}</string>
                <key>spriteSourceSize</key>
                <string>{292,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{292,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,63}</string>
                <key>spriteSourceSize</key>
                <string>{115,63}</string>
                <key>textureRect</key>
                <string>{{292,0},{115,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag-to-move.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,63}</string>
                <key>spriteSourceSize</key>
                <string>{391,63}</string>
                <key>textureRect</key>
                <string>{{0,63},{391,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick-center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{0,126},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick-circle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,257}</string>
                <key>spriteSourceSize</key>
                <string>{257,257}</string>
                <key>textureRect</key>
                <string>{{113,126},{257,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,281}</string>
                <key>spriteSourceSize</key>
                <string>{281,281}</string>
                <key>textureRect</key>
                <string>{{0,383},{281,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,142}</string>
                <key>spriteSourceSize</key>
                <string>{385,142}</string>
                <key>textureRect</key>
                <string>{{0,664},{385,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,63}</string>
                <key>spriteSourceSize</key>
                <string>{113,63}</string>
                <key>textureRect</key>
                <string>{{385,664},{113,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play-now.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,142}</string>
                <key>spriteSourceSize</key>
                <string>{385,142}</string>
                <key>textureRect</key>
                <string>{{0,806},{385,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>uiLumber.png</string>
            <key>size</key>
            <string>{498,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:891b9eee4a88d4b98589ef587ca61485:9e8bc355b3d94fc30a17f6e17b1cc3f3:048ac7de17006f697c26a382f90f3aa0$</string>
            <key>textureFileName</key>
            <string>uiLumber.png</string>
        </dict>
    </dict>
</plist>
